<%- include("../parties/header", {title : "Page de connexion", style : "auth"}) %>

    <% if (locals.connected){ %>
        <h1>Bonjour <%= locals.user.username %></h1>
        <% } else { %>
            <h1>Bonjour inconnu</h1>
    <% } %>
<%- include("../parties/footer") %>