.form{
    border : 2px solid black;
    padding: 2em;
    width: 500px;
    margin: 1rem auto;
}

.form input{
    width : 100%;
}

.form label{
    display: block;
    text-align: center;
}